PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_me
DB_NAME=forca_fitness
DB_SSL=false
DATABASE_URL=
JWT_SECRET=change_me

MP_ACCESS_TOKEN=TEST-your_access_token_here
MP_PUBLIC_KEY=TEST-your_public_key_here
APP_URL=http://localhost:3000
